.content {
  font-size:large;
}

.content img {
  max-height: 20vh;
  width:auto;
}

.content img:hover{
  max-height: 35vh;
  width:auto;
}

.content h2 {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-size: x-large;
}
.content .coding {  
  color: #f1f8ff;
  background-color: midnightblue;
  padding:10px;
}
